body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f9;
}

.login-box {
    margin-top: 100px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
}

.error {
    color: red;
}

.dashboard {
    margin-top: 50px;
}

.card {
    display: inline-block;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
