body {
    font-family: Arial;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

input {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.success {
    color: green;
}

.error {
    color: red;
}

.warning {
    color: orange;
}
